<!doctype html>
<html>
	<head>
		<title>Chat!</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
		<script src="/socket.io/socket.io.js"></script>
		

	</head>
	<body>
		<div class="container">
			<div class="video">
				<canvas id="videoCanvas"></canvas>
				<video src=""></video>
				<button id="shareVideo">Share Video</button>
			</div>
			<div class="chatArea row-fluid" style="display:none">
				<div class="span4">
					<h1>Send a picture</h1>
					<div class="row-fluid">
						<div class="span10">
							<canvas id="canvas"></canvas>
							<button id="save" class="btn">Send</button>
							<button id="clear" class="btn">clear</button>
						</div>
						<div class="span2">
							<ul class="colors unstyled">
								<li class="red" style="background-color:#ff0000"></li>
								<li class="purple" style="background-color:#bb00bb"></li>
								<li class="blue" style="background-color:#0000ff"></li>
								<li class="green" style="background-color:#00ff00"></li>
								<li class="yellow" style="background-color:#ffff00"></li>
								<li class="black" style="background-color:#000000; border: 3px black solid;"></li>
								<li class="white" style="background-color:#ffffff"></li>
							</ul>
						</div>
						
						
					</div>
				</div>
				<div class="span6">
					<h3>Messages</h3>
					<div class="messages" id="messagebox">
					</div>

					<form id="messageform" class="well row">
						<input type="text" name="message" class="span8">
						<input type="submit" value="Send Message" class="btn btn-primary pull-right">

					</form>
					<div class="row-fluid">
						<input type="checkbox" id="notifySound" checked> Play notification sound	
					</div>
				</div>
				<div class="span2">
					<h3>People online</h3>
					<ul class="online unstyled"></ul>
				</div>
			</div>
			<div class="username">
				<h1>First we need a username</h1>
				<form id="username">
					<input type="text" name="username" >
					<input type="submit" value="Set Username" class="btn btn-primary">
				</form>
			</div>
		</div>
		
		
		<script>
			var socket = io.connect();
			(function(socket){
				var form = document.getElementById("messageform");
				var usernameForm = document.getElementById("username");
				var focused = true;
				var missMessage = 0;
				var alert = new Audio();
				var playSound = document.getElementById("notifySound");
				var username = localStorage.getItem("chatUsername");
				var commands = {
					username:changeUsername
				}
				if(username){
					document.getElementsByClassName("chatArea")[0].style.display = "block";
					document.getElementsByClassName("username")[0].style.display = "none";
					socket.emit("username", username);
				}
				alert.src = "/sound/alert.mp3";
				usernameForm.addEventListener("submit", setUsername, false);
				form.addEventListener("submit", sendMessage, false);
				window.addEventListener("focus", onfocus);
				window.addEventListener("blur", onblur);

				socket.on("message", handleMessage);
				socket.on("online", usersOnline);
				socket.on("messages", handleArchive);
				socket.on("image", handleImage);

				function handleArchive(messages){

					for(var i=messages.length-1; i>=0; i--){
						appendMessage(messages[i].username, messages[i].message);
					}

				}

				function handleMessage(username, message){
					var title;

					if(!focused){
						missMessage++;
						title = window.document.title;
						window.document.title = "("+missMessage+") Chat!";
						if(playSound.checked){
							alert.pause();
							alert.currentTime = 0;
							alert.play();
						}
					}
					appendMessage(username, message);
				}
				function handleImage(username, img){
					var box = document.getElementById("messagebox"),
						image = createElement("<img>"),
						messagearea = createElement("<p class='message'></p>");
						messagearea.textContent = username + ": ";
						image.src = img;
						messagearea.style.visibility = "hidden";
						messagearea = box.appendChild(messagearea);
						image.style.visibility = "hidden";
						image = box.appendChild(image);
						
						setTimeout(function(){
							scrollbot();
							image.style.visibility = "visible";
							messagearea.style.visibility = "visible";
						}, 0)
				}
				function appendMessage(username, message){
					var box = document.getElementById("messagebox"),
						messagearea = createElement("<p class='message'></p>");
					if(message){
						messagearea.textContent = username + ": " + message;
					}
					else{
						messagearea.textContent = username;
						messagearea.classList.add('system-message');

					}
					
					messagearea.style.visibility = "hidden";
					messagearea = box.appendChild(messagearea);
					setTimeout(function(){
						scrollbot();
						messagearea.style.visibility = "visible";
					}, 0)
				}
				function sendMessage(e){
					var message = form.message.value.trim();
					var command;
					var args;
					if(!message){
						e.preventDefault();
						return false;
					}
					if(message[0] === "/"){
						command = message.substr(1, message.indexOf(" ")-1);
						args = message.substr(message.indexOf(" ")+1);
						doCommand(command, args);
					}
					else{
						socket.emit("message", message);
					}
					
					form.message.value = "";
					e.preventDefault();
				}

				function setUsername(e){
					var chat = document.getElementsByClassName("chatArea")[0];
					var formContain = document.getElementsByClassName("username")[0];
					chat.style.display = "block";
					formContain.style.display = "none";
					socket.emit("username", usernameForm.username.value);
					localStorage.setItem("chatUsername", usernameForm.username.value);
					e.preventDefault();
				}

				function createElement(text){
					var holder = document.createElement("div"),
					frag = document.createDocumentFragment();
					holder.innerHTML = text;
					while(holder.firstChild){
						frag.appendChild(holder.firstChild);
					}
					return frag.firstChild;
				}

				function scrollbot(){
					var d = document.getElementById('messagebox');

					if(d.scrollHeight > d.clientHeight) {
					d.scrollTop = d.scrollHeight - d.clientHeight;
					}
				}

				function usersOnline(users){
					var list = document.getElementsByClassName("online")[0];
					list.innerHTML = "";
					users.forEach(function(u){
						var item = createElement("<li></li>");
						item.textContent = u;
						list.appendChild(item);
					});
				}

				function onfocus(){
					focused = true;
					window.document.title = "Chat!"
					missMessage = 0;
				}

				function onblur(){
					focused = false;
				}

				function doCommand(command, args){
					if(commands[command]){
						commands[command].apply(null, args.split(" "));
					}
				}

				function changeUsername(username){
					socket.emit("newUsername", username);
					localStorage.setItem("chatUsername", username);
				}
			}(socket));


			(function(socket){
				var canvas = document.getElementById("canvas");
				var save = document.getElementById("save");
				var ctx = canvas.getContext("2d");
				var mousedown = false;
				var colors = document.getElementsByClassName("colors")[0].children;
				var color = "black";
				var clear = document.getElementById("clear");
				var shift = false;
				var click = {};
				clear.addEventListener("click", function(){
					 var c = confirm("really clear?");
					 if(c){
							ctx.clearRect(0,0,canvas.width,canvas.height);	
					 }
				});
				window.addEventListener("keydown", function(e){
				shift = (e.keyCode == 16); 
					console.log(shift);
				});
				window.addEventListener("keyup", function(e){
					 if(e.keyCode == 16){
						shift = false;	
					 }
				});
				save.addEventListener("click", function(){
					socket.emit("image", canvas.toDataURL("img/png"));
					ctx.clearRect(0,0,canvas.width,canvas.height);	
				});
				[].forEach.call(colors, function(c){
					 c.addEventListener("click", function(e){

						 removeBorders();
						 c.style.border = "3px black solid";
						
						 color = c.style["background-color"];
						
					 })
				});
				canvas.width = 250;
				canvas.height = 250;
				previous = {};
				canvas.onmousedown = function(e){
					click.x = e.offsetX;
					click.y = e.offsetY;
					mousedown = true;	
					return false;
				}
				canvas.onmouseup = function(e){
					mousedown = false;
					return false;
				}
				canvas.onmousemove = function(e){
				
					 
					 if(mousedown){
						if(previous.x && previous.y){
								 ctx.strokeStyle = color;
								 ctx.lineWidth = 5;
								 ctx.beginPath();
								 ctx.moveTo(previous.x, previous.y);
								 ctx.lineTo(e.offsetX, e.offsetY);
								 ctx.stroke();	
						}
						if(!shift){
								 previous.x = e.offsetX;
								 previous.y = e.offsetY;
						}
						else{
								previous.x = click.x;
								previous.y = click.y;
						}
						 
					 } 
					 else{
						previous.x = false;
						previous.y = false;
					 }
						 
					 
					 
					 return false;
				}
				function removeBorders(){
					 [].forEach.call(colors, function(c){
						c.style.border = "1px black solid";
					 });
				}
			}(socket));
		</script>
		<script src="/js/video.js"></script>
	</body>
</html>